In [1]:
import pandas as pd

In [47]:
import numpy as np

In [3]:
data = pd.read_csv('migration_data_2010_2020.csv')

In [4]:
data.head()

,Unnamed: 0,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,state,county,YEAR,STATE,STUSAB,STATE_NAME,STATENS
0,0,38,1001,1003,11,"Autauga County, Alabama","Baldwin County, Alabama",27,1,1,2010,1,AL,Alabama,1779775
1,1,0,1001,1005,15,"Autauga County, Alabama","Barbour County, Alabama",-15,1,1,2010,1,AL,Alabama,1779775
2,2,44,1001,1007,0,"Autauga County, Alabama","Bibb County, Alabama",44,1,1,2010,1,AL,Alabama,1779775
3,3,98,1001,1009,59,"Autauga County, Alabama","Blount County, Alabama",39,1,1,2010,1,AL,Alabama,1779775
4,4,12,1001,1013,0,"Autauga County, Alabama","Butler County, Alabama",12,1,1,2010,1,AL,Alabama,1779775

In [27]:
#Split FULL2_NAME column by ","
split_name2 = data['FULL2_NAME'].str.split(',',expand=True)

In [28]:
split_name2

                              0                  1              2
0                Baldwin County            Alabama           None
1                Barbour County            Alabama           None
2                   Bibb County            Alabama           None
3                 Blount County            Alabama           None
4                 Butler County            Alabama           None
...                         ...                ...            ...
5437044       Manhattan Borough    New York County       New York
5437045    West Chester Borough     Chester County   Pennsylvania
5437046      Middletown Borough     Dauphin County   Pennsylvania
5437047  East Lampeter Township   Lancaster County   Pennsylvania
5437048           Waukesha City    Waukesha County      Wisconsin

[5437049 rows x 3 columns]

In [ ]:
# Didn't work.
#Created a new column "State2" and tried to put values from second and third column, depending if there was a value in the third column 
split_name2.loc[split_name2[2] == None, 'State2'] = split_name2[1]
split_name2.loc[split_name2[2] != None, 'State2'] = split_name2[2]
print(split_name2)

In [31]:
split_name2.columns = ['FIRST','SECOND','THIRD','State2']

In [32]:
split_name2

,FIRST,SECOND,THIRD,State2
0,Baldwin County,Alabama,None,None
1,Barbour County,Alabama,None,None
2,Bibb County,Alabama,None,None
3,Blount County,Alabama,None,None
4,Butler County,Alabama,None,None
...,...,...,...,...
5437044,Manhattan Borough,New York County,New York,New York
5437045,West Chester Borough,Chester County,Pennsylvania,Pennsylvania
5437046,Middletown Borough,Dauphin County,Pennsylvania,Pennsylvania
5437047,East Lampeter Township,Lancaster County,Pennsylvania,Pennsylvania
5437048,Waukesha City,Waukesha County,Wisconsin,Wisconsin

In [34]:
# Filled all the empty values in the "STATE2" column with values from the "SECOND" column
split_name2.State2.fillna(split_name2.SECOND, inplace=True)
#Rename columns
split_name2.columns = 'FIRST SECOND THIRD STATE2'.split()

In [35]:
split_name2

,FIRST,SECOND,THIRD,STATE2
0,Baldwin County,Alabama,None,Alabama
1,Barbour County,Alabama,None,Alabama
2,Bibb County,Alabama,None,Alabama
3,Blount County,Alabama,None,Alabama
4,Butler County,Alabama,None,Alabama
...,...,...,...,...
5437044,Manhattan Borough,New York County,New York,New York
5437045,West Chester Borough,Chester County,Pennsylvania,Pennsylvania
5437046,Middletown Borough,Dauphin County,Pennsylvania,Pennsylvania
5437047,East Lampeter Township,Lancaster County,Pennsylvania,Pennsylvania
5437048,Waukesha City,Waukesha County,Wisconsin,Wisconsin

In [36]:
#Created a function that would put each field value in a list if it contained the word "County"
def county_identifier(search_string):
    county_list = []
    
    if "County" in search_string: 
        county_list.append(search_string)
    else: 
        pass
    return county_list

In [37]:
#Simultaneously calling the function and applying the values from the list into a new column "county_list2"
split_name2['county_list2'] = split_name2.FIRST.apply(county_identifier)

In [ ]:
split_name2

In [39]:
#The previous function put all the values in the new column in a list form (ex. [Davidson County]). I'm creating a new function to undo that and "stringifying" the values
def stringifier(county_list2):
    string = ', '.join(county_list2)
    return string

In [41]:
# Calling the function and applying the new "string" values into a new column 
split_name2['county2'] = split_name2.county_list2.apply(stringifier)

In [ ]:
split_name2

In [43]:
#Didn't work. Apparently, pandas didn't recognize empty fields in the "county2" column. 
split_name2.county2.fillna(split_name2.SECOND, inplace=True)

In [ ]:
split_name2

In [50]:
#So I found another method. The r'/s*$' means white space and empty space. So I'm replacing the empty space with Nan values. 
#And then filling the Nan values with values from the "SECOND" column 
split_name2.county2 = split_name2.county2.replace(r'^\s*$', np.nan, regex=True).fillna(split_name2.SECOND)

In [51]:
split_name2

,FIRST,SECOND,THIRD,STATE2,county_list2,county2
0,Baldwin County,Alabama,None,Alabama,[Baldwin County],Baldwin County
1,Barbour County,Alabama,None,Alabama,[Barbour County],Barbour County
2,Bibb County,Alabama,None,Alabama,[Bibb County],Bibb County
3,Blount County,Alabama,None,Alabama,[Blount County],Blount County
4,Butler County,Alabama,None,Alabama,[Butler County],Butler County
...,...,...,...,...,...,...
5437044,Manhattan Borough,New York County,New York,New York,[],New York County
5437045,West Chester Borough,Chester County,Pennsylvania,Pennsylvania,[],Chester County
5437046,Middletown Borough,Dauphin County,Pennsylvania,Pennsylvania,[],Dauphin County
5437047,East Lampeter Township,Lancaster County,Pennsylvania,Pennsylvania,[],Lancaster County
5437048,Waukesha City,Waukesha County,Wisconsin,Wisconsin,[],Waukesha County

In [52]:
#Grabbing the "county2" and "STATE2" column
county2 = split_name2['county2']
state2 = split_name2['STATE2']

In [53]:
#Joining the columns into the main dataset
data_final1 = data.join(county2)
data_final2 = data_final1.join(state2)

In [56]:
#Removing the word "County" in the "county2" column
banned = ['County']
f = lambda x: ' '.join([item for item in x.split() if item not in banned])
data_final2["county2"] = data_final2["county2"].apply(f)

In [57]:
data_final2

,Unnamed: 0,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,state,county,YEAR,STATE,STUSAB,STATE_NAME,STATENS,county2,STATE2
0,0,38,1001,1003,11,"Autauga County, Alabama","Baldwin County, Alabama",27,1,1,2010,1,AL,Alabama,1779775,Baldwin,Alabama
1,1,0,1001,1005,15,"Autauga County, Alabama","Barbour County, Alabama",-15,1,1,2010,1,AL,Alabama,1779775,Barbour,Alabama
2,2,44,1001,1007,0,"Autauga County, Alabama","Bibb County, Alabama",44,1,1,2010,1,AL,Alabama,1779775,Bibb,Alabama
3,3,98,1001,1009,59,"Autauga County, Alabama","Blount County, Alabama",39,1,1,2010,1,AL,Alabama,1779775,Blount,Alabama
4,4,12,1001,1013,0,"Autauga County, Alabama","Butler County, Alabama",12,1,1,2010,1,AL,Alabama,1779775,Butler,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5437044,5437044,31,72153,3606144919,0,"Yauco Municipio, Puerto Rico","Manhattan Borough, New York County, New York",31,72,153,2020,72,PR,Puerto Rico,1779808,New York,New York
5437045,5437045,0,72153,4202982704,5,"Yauco Municipio, Puerto Rico","West Chester Borough, Chester County, Pennsylv...",-5,72,153,2020,72,PR,Puerto Rico,1779808,Chester,Pennsylvania
5437046,5437046,0,72153,4204349128,23,"Yauco Municipio, Puerto Rico","Middletown Borough, Dauphin County, Pennsylvania",-23,72,153,2020,72,PR,Puerto Rico,1779808,Dauphin,Pennsylvania
5437047,5437047,0,72153,4207121344,13,"Yauco Municipio, Puerto Rico","East Lampeter Township, Lancaster County, Penn...",-13,72,153,2020,72,PR,Puerto Rico,1779808,Lancaster,Pennsylvania
5437048,5437048,31,72153,5513384250,0,"Yauco Municipio, Puerto Rico","Waukesha City, Waukesha County, Wisconsin",31,72,153,2020,72,PR,Puerto Rico,1779808,Waukesha,Wisconsin

## Now Full_Name1

In [58]:
#splitting the "FULL1_NAME" column by delimiter ","
split_name1 = data['FULL1_NAME'].str.split(',',expand=True)

In [59]:
split_name1

                       0             1
0         Autauga County       Alabama
1         Autauga County       Alabama
2         Autauga County       Alabama
3         Autauga County       Alabama
4         Autauga County       Alabama
...                  ...           ...
5437044  Yauco Municipio   Puerto Rico
5437045  Yauco Municipio   Puerto Rico
5437046  Yauco Municipio   Puerto Rico
5437047  Yauco Municipio   Puerto Rico
5437048  Yauco Municipio   Puerto Rico

[5437049 rows x 2 columns]

In [60]:
#rename columns
split_name1.columns = ['county1','state1']

In [61]:
#removing the word "county" in the "county1" column
banned = ['County']
d = lambda x: ' '.join([item for item in x.split() if item not in banned])
split_name1["county1"] = split_name1["county1"].apply(d)

In [62]:
split_name1

                 county1        state1
0                Autauga       Alabama
1                Autauga       Alabama
2                Autauga       Alabama
3                Autauga       Alabama
4                Autauga       Alabama
...                  ...           ...
5437044  Yauco Municipio   Puerto Rico
5437045  Yauco Municipio   Puerto Rico
5437046  Yauco Municipio   Puerto Rico
5437047  Yauco Municipio   Puerto Rico
5437048  Yauco Municipio   Puerto Rico

[5437049 rows x 2 columns]

In [63]:
#joining the column into the main dataset
county1 = split_name1['county1']

In [64]:
data_final3 = data_final2.join(county1)

In [65]:
data_final3

,Unnamed: 0,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,state,county,YEAR,STATE,STUSAB,STATE_NAME,STATENS,county2,STATE2,county1
0,0,38,1001,1003,11,"Autauga County, Alabama","Baldwin County, Alabama",27,1,1,2010,1,AL,Alabama,1779775,Baldwin,Alabama,Autauga
1,1,0,1001,1005,15,"Autauga County, Alabama","Barbour County, Alabama",-15,1,1,2010,1,AL,Alabama,1779775,Barbour,Alabama,Autauga
2,2,44,1001,1007,0,"Autauga County, Alabama","Bibb County, Alabama",44,1,1,2010,1,AL,Alabama,1779775,Bibb,Alabama,Autauga
3,3,98,1001,1009,59,"Autauga County, Alabama","Blount County, Alabama",39,1,1,2010,1,AL,Alabama,1779775,Blount,Alabama,Autauga
4,4,12,1001,1013,0,"Autauga County, Alabama","Butler County, Alabama",12,1,1,2010,1,AL,Alabama,1779775,Butler,Alabama,Autauga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5437044,5437044,31,72153,3606144919,0,"Yauco Municipio, Puerto Rico","Manhattan Borough, New York County, New York",31,72,153,2020,72,PR,Puerto Rico,1779808,New York,New York,Yauco Municipio
5437045,5437045,0,72153,4202982704,5,"Yauco Municipio, Puerto Rico","West Chester Borough, Chester County, Pennsylv...",-5,72,153,2020,72,PR,Puerto Rico,1779808,Chester,Pennsylvania,Yauco Municipio
5437046,5437046,0,72153,4204349128,23,"Yauco Municipio, Puerto Rico","Middletown Borough, Dauphin County, Pennsylvania",-23,72,153,2020,72,PR,Puerto Rico,1779808,Dauphin,Pennsylvania,Yauco Municipio
5437047,5437047,0,72153,4207121344,13,"Yauco Municipio, Puerto Rico","East Lampeter Township, Lancaster County, Penn...",-13,72,153,2020,72,PR,Puerto Rico,1779808,Lancaster,Pennsylvania,Yauco Municipio
5437048,5437048,31,72153,5513384250,0,"Yauco Municipio, Puerto Rico","Waukesha City, Waukesha County, Wisconsin",31,72,153,2020,72,PR,Puerto Rico,1779808,Waukesha,Wisconsin,Yauco Municipio

In [67]:
data_final3.rename(columns={"STATE_NAME": "STATE1"})

,Unnamed: 0,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,state,county,YEAR,STATE,STUSAB,STATE1,STATENS,county2,STATE2,county1
0,0,38,1001,1003,11,"Autauga County, Alabama","Baldwin County, Alabama",27,1,1,2010,1,AL,Alabama,1779775,Baldwin,Alabama,Autauga
1,1,0,1001,1005,15,"Autauga County, Alabama","Barbour County, Alabama",-15,1,1,2010,1,AL,Alabama,1779775,Barbour,Alabama,Autauga
2,2,44,1001,1007,0,"Autauga County, Alabama","Bibb County, Alabama",44,1,1,2010,1,AL,Alabama,1779775,Bibb,Alabama,Autauga
3,3,98,1001,1009,59,"Autauga County, Alabama","Blount County, Alabama",39,1,1,2010,1,AL,Alabama,1779775,Blount,Alabama,Autauga
4,4,12,1001,1013,0,"Autauga County, Alabama","Butler County, Alabama",12,1,1,2010,1,AL,Alabama,1779775,Butler,Alabama,Autauga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5437044,5437044,31,72153,3606144919,0,"Yauco Municipio, Puerto Rico","Manhattan Borough, New York County, New York",31,72,153,2020,72,PR,Puerto Rico,1779808,New York,New York,Yauco Municipio
5437045,5437045,0,72153,4202982704,5,"Yauco Municipio, Puerto Rico","West Chester Borough, Chester County, Pennsylv...",-5,72,153,2020,72,PR,Puerto Rico,1779808,Chester,Pennsylvania,Yauco Municipio
5437046,5437046,0,72153,4204349128,23,"Yauco Municipio, Puerto Rico","Middletown Borough, Dauphin County, Pennsylvania",-23,72,153,2020,72,PR,Puerto Rico,1779808,Dauphin,Pennsylvania,Yauco Municipio
5437047,5437047,0,72153,4207121344,13,"Yauco Municipio, Puerto Rico","East Lampeter Township, Lancaster County, Penn...",-13,72,153,2020,72,PR,Puerto Rico,1779808,Lancaster,Pennsylvania,Yauco Municipio
5437048,5437048,31,72153,5513384250,0,"Yauco Municipio, Puerto Rico","Waukesha City, Waukesha County, Wisconsin",31,72,153,2020,72,PR,Puerto Rico,1779808,Waukesha,Wisconsin,Yauco Municipio